.back{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://r4.wallpaperflare.com/wallpaper/205/168/868/dinner-food-pie-pizza-wallpaper-e9aa3b548cb5067b00ad2878da3c4dcc.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}